{{ define "lism" }}
<article class="lism">
	<a href="{{ .Permalink }}">
		<div class="thumb thumb-{{ .UniqueID }}"></div>
		<div class="inner">
			<div class="title">{{ .Title }}</div>
			<ul class="facts sm">
				{{ with .Section }}
				<li><i class="fas fa-bookmark" aria-hidden="true"></i>{{ . | upper }}</li>
				{{ end }}
				<li><i class="fas fa-calendar" aria-hidden="true"></i><time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" | html }}">{{ .Date.Format ( .Site.Params.dateformat | default "Jan 2, 2006") }}</time></li>
			</ul>
		</div>
	</a>
</article>
{{ end }}

<div class="adj grid">
	{{ with .PrevInSection }}
	<span>
		<header>Previous Article</header>
		{{ template "lism" . }}
	</span>
	{{ end }}

	{{ with .NextInSection }}
	<span>
		<header>Next Article</header>
		{{ template "lism" . }}
	</span>
	{{ end }}
</div>
