<aside class="share">
	<a href="https://mastoshare.net/post.php?text={{ .Title }} {{ .Permalink }}" title="Mastodon" target="_blank" rel="nofollow noopener noreferrer"><i class="fab fa-mastodon" aria-hidden="true"></i></a>
	<a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title="Twitter" target="_blank" rel="nofollow noopener noreferrer"><i class="fab fa-twitter" aria-hidden="true"></i></a>
	<a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title="Facebook" target="_blank" rel="nofollow noopener noreferrer"><i class="fab fa-facebook" aria-hidden="true"></i></a>
	<a href="https://plus.google.com/share?url={{ .Permalink }}" title="Google Plus" target="_blank" rel="nofollow noopener noreferrer"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
	<a href="https://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" title="Pocket" target="_blank" rel="nofollow noopener noreferrer"><i class="fab fa-get-pocket" aria-hidden="true"></i></a>
	<a href="https://social-plugins.line.me/lineit/share?url={{ .Permalink }}" title="LINE" target="_blank" rel="nofollow noopener noreferrer"><i class="fab fa-line" aria-hidden="true"></i></a>
	<a href="https://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" title="はてなブックマーク" target="_blank" rel="nofollow noopener noreferrer">B!</a>
</aside>
